[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
scikit-learn = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
